// ==> Estilos base <==

body {
  transition: var(--transition);
  color: var(--text-color);
  background-color: var(--first-bg);
  font-family: var(--main-font);
  font-weight: var(--font-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--font-bold);
}
h3,
h4,
h5,
h6 {
  font-weight: var(--font-semibold);
}

// ==> Content general <==

.content {
  max-width: var(--screen);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
}
