// ==> Themes dark and light <==

:root {
  --grey-100: #f2f2f7;
  --grey-200: #ebebf0;
  --grey-300: #e5e5ea;
  --grey-400: #8b8e93;
  --grey-500: #51555c;
  --grey-600: #272D3F;
  --grey-700: #202533;
  --grey-800: #1A1E29;
  --grey-900: #151821;
  --grey-1000: #15182180;

  // rgb
  --dark-rgba: #15182180;
  --light-rgba: #f2f2f780;
}

:root {
  --first-bg: var(--grey-900);
  --second-bg: var(--grey-800);
  --third-bg: var(--grey-700);
  --title-color: var(--grey-200);
  --text-color: var(--grey-300);
  --border-color: var(--grey-600);
  --link-color: var(--primary-500);
  --darkbg-rgba: var(--dark-rgba);
}
